ul {
    margin-left: 20vw;
    margin-top: 30vh;
    display:grid;
    grid-template-columns: 1fr;
}

@media (width >= 1250px){ /* en caso de estar en una pantalla grande */
    ul{
        grid-template-columns: repeat(3, 1fr);
    }
}

#dialog {
  margin-top: -45vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
